/.dep/
/DB48X.pgm
/build/
/cscope.files
/cscope.out
/sim/.qmake.stash
/sim/db*x.app/
/sim/db*x-*.mak
/sim/*.o
/sim/ui_sim-window.h
/sim/moc_predefs.h
/sim/moc_sim-screen.cpp
/sim/moc_sim-window.cpp
/sim/qrc_sim.cpp
/tools/*/.build/
/tools/*/.logs/
/tools/*/config.h
/tools/*/decimize
/tools/*/ttf2font
/tools/*/forcecrc32
/tools/*/crc32
/compile_commands.json
/sim/gcc111libbid.a
/sim/simulator
/.cache/
/*.bin
/*.tgz
/*.elf
/*.pg5
/*.pgm
/tools/ttf2font/ttf2font-db48x
/tools/ttf2font/ttf2font-db50x
/help/img/*.bmp
/wasm/*.js
/wasm/*.wasm
/sim/data/
/sim/db*x-build/
/sim/db*x.app/
/sim/db*x-*.mak
/help/*.idx
/.build/
/.build_id
/.logs/
/sim/*.qrc
/sim/qrc_*.cpp
/sim/config.qrc
